@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=PT+Sans+Narrow&display=swap');

:root {
    --main-bg-color: #14213d;
    --text-color: #fca311;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

.notSelected {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--main-bg-color);
    padding: 0.5em 1em;
    transition: all 1s ease;
}

nav li:hover {
    background-color: #e5e5e5;
    color: var(--main-bg-color);
    transition: all 1s ease;
    transform: translateY(-2px);
}

.currentSelected {
    background-color: #fca311;
    color: #ffffff;
    box-shadow: rgba(166, 134, 47, 0.522) 0 1px 30px;
}

header {
    display: flex;
    background-color: #14213d;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav {
    display: flex;
    gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.headerText {
    justify-content: center;
    font-size: 50px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    border: 5px solid var(--text-color);
    border-radius: 8px;
    background-color: var(--text-color);
    color: #ffffff;
    transition: all 1s ease;
}

.headerText:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: var(--text-color);
    transition: all 1s ease;
    transform: translateY(-2px);
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.title {
    color: blue;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 50px;
}

.desc {
    width: 500px;
    font-size: 25px;
}

